.tasksContainer {
  overflow-x: scroll;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid lightgray;
  width: 74%;
  max-width: 74%;
  border-radius: 5px;
  box-shadow: 1px 1px 10px lightgray;
  padding: 10px 0 10px 0;
}